<% provide(:title, "Sobre") %>
<h1>Sobre</h1>
<p>
  Panacea - Plataforma de diagnóstico individual e base de informações médicas. </p>

<p> Esse site não deve ser tratado como mais do que um objeto de pesquisa 
  e referência e não tem o objetivo de substituir uma opinião médica embasada. </p>

<p>Essa ferramenta deve ser usada para se estimar as possíveis condições médicas 
  do usuário para facilitar a escolha de um profissional ou adquirir informações
  sobre profissionais nas proximidades do usuário.</p>

<p>Esse site não incentiva a auto-medicação.</p>