<div class="center jumbotron">
  <%= image_tag("Panacea_LVT.png", :alt => "Logo Panacea") %>

  <h2>
    Plataforma de diagnóstico inicial e base de conhecimento médico. <br />
    Usuários registrados tem acesso à pesquisa de doenças a partir de sintomas.<br />
    Além disso, médicos registrados podem adicionar ao banco de dados e sugerir mudanças 
  pertinentes a doenças já registradas. <br />     <br />

  <% unless logged_in? %>
    <%= link_to "Crie sua conta", signup_path, class: "btn btn-lg btn-primary" %>
    <%= link_to "Médico? Crie sua conta aqui.", m_signup_path, class: "btn btn-lg btn-danger" %> <br />
    Já possui uma conta? <%= link_to "Clique aqui", login_path %>
  <% end %>
  <% if logged_in? %>
    <%= link_to "Busca de doenças", s_index_path, class: "btn btn-lg btn-primary" %>
  <% end %>
  
  </h2>
</div>
