<h1>Panacea</h1>

<p>Olá <%= @user.nome %>,</p>

<p>
Bem-vindo á Panacea!
Clique no link abaixo para ativar sua conta:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>
<p>Usuários que desejam se inscrever como especialistas deverão aguardar a aprovação pela administração. </p>
<p>Agradecemos a paciência. </p>