Olá <%= @user.nome %>,

Bem-vindo á Panacea!
Clique no link abaixo para ativar sua conta:

<%= edit_account_activation_url(@user.activation_token, email: @user.email) %>

Usuários que desejam se inscrever como especialistas deverão aguardar a aprovação pela administração. 
Agradecemos a paciência. 