<% provide(:title, 'Registro de Doenças-Sintomas') %>
<h1>Remover associações</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    
     <%= form_for(@sintomadoenca) do |f| %>
         <%= render 'shared/sintomadoenca_error_messages' %>
     
          <%= f.label :doenca_id, "Doença: " %><%= link_to " Nova doença", add_path %>
          <%= f.collection_select :doenca_id, Doenca.all, :id, :nome, :selected => params[:doenca_id], class: 'form-control' %>

          <%= f.label :sintoma_id, "Sintoma" %>
          <%= f.collection_select :sintoma_id, Sintoma.all, :id, :nome, class: 'form-control'  %> <br />
      <%= f.submit "Remover", class: "btn btn-primary" %>
      <% end %>
      <br /> <br />
  </div>
</div>