<% provide(:title, 'Registro de Doenças-Sintomas') %>
<h1>Registro de Doenças-Sintomas</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    
     <%= form_for(@sintomadoenca) do |f| %>
         <%= render 'shared/sintomadoenca_error_messages' %>
     
          <%= f.label :doenca_id, "Doença: " %><%= link_to " Nova doença", add_path %>
          <%= f.collection_select :doenca_id, Doenca.all, :id, :nome, :selected => params[:doenca_id], class: 'form-control' %>

          <%= f.label :sintoma_id, "Sintoma" %>
          <%= f.collection_select :sintoma_id, Sintoma.all, :id, :nome, class: 'form-control'  %> <br />
      <%= f.submit "Confirmar", class: "btn btn-primary" %>
      <% end %>
      <br /> <br />
       Algum sintoma não está na lista? Digite abaixo, com uma curta descrição e clique "Adicionar". 
        <%= form_for(@sintoma) do |s| %>
            <%= s.label :nome, "Nome do sintoma: " %>
            <%= s.text_field :nome, class: 'form-control' %>
            <%= s.label :descricao, "Descrição: " %>
            <%= s.text_field :descricao, class: 'form-control' %>
            <%= s.submit "Adicionar" %>
        <% end %>
  </div>
</div>