<% provide(:title, 'Teste de Relacionamento') %>
  <section class="user_info">
      <h1>
        <%= @sintomadoenca.doenca.nome %>
      </h1>
      <%= @sintomadoenca.sintoma.nome %>
    </section>
  
