<% provide(:title, 'Alterar Informações') %>
<h1>Editando <%= @sintoma.nome %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@sintoma) do |f| %>
      <%= render 'shared/doenca_error_messages' %>

      <%= f.label :nome %>
      <%= f.text_field :nome, class: 'form-control' %>

      <%= f.label :descricao, "Descrição:" %>
      <%= f.text_area :descricao, class: 'form-control'  %>
      
      <%= f.submit "Salvar alterações", class: "btn btn-primary" %>
    <% end %>
    
  </div>
</div>