<% provide(:title, 'Busca') %>
<h1>All sintomas</h1>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_tag sintomas_path, :method => 'get' do %>
        <p>
          <% @sintomas.each do |sintoma| %>
            <label class="checkbox-inline">
            <%= check_box_tag "sintoma_ids[]", sintoma.id %>
            <%= sintoma.nome %> 
            </label>
            <br /><br />
          <%end%>
          <%= submit_tag "Search", :name => nil %>
         </p>
      <% end %>
    </div>
  </div>

    <% @doencas.each do |doenca| %>
      <li>
        <%= link_to doenca.nome, doenca %>: 
        <%= truncate(doenca.descricao, :length => 200, :separator => ' ', :omission => '... (Mais)') %>
        <br />      <br />
      </li>
    <% end %>