<% provide(:title, 'Registrar sintoma') %>
<h1>Registro de Sintomas</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
     <%= form_for(@sintoma) do |f| %>
     <%= render 'shared/sintoma_error_messages' %>
      <%= f.label :nome %>
      <%= f.text_field :nome, class: 'form-control' %>

      <%= f.label :descricao, "Descrição (mínimo 20 caracteres)" %>
      <%= f.text_area :descricao, class: 'form-control'  %>

      <%= f.submit "Adicionar sintoma", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>