<% provide(:title, 'Teste de Busca') %>
<h1>Busca</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
     <%= form_for(@doenca) do |f| %>
     <%= render 'shared/sintoma_error_messages' %>
     
      <%= f.label :sintoma_1, "ID do sintoma" %>
      <%= f.collection_select :sintoma_id, Sintoma.all, :id, :nome, class: 'form-control'  %>

      <%= f.submit "Confirmar", class: "btn btn-primary" %>
    <% end %>
</div>