<% provide(:title, @sintoma.nome) %>
  <section class="user_info">
      <h1>
        <%= @sintoma.nome %> 
      </h1>
      <%= link_to "Editar", edit_sintoma_path, class: "btn btn-lg btn-primary"%>
      <%= @sintoma.descricao %>
      <br />
    </section>