<% provide(:title, 'Altere suas Informações') %>
<h1>Edite seu perfil</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :nome %>
      <%= f.text_field :nome, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :endereco, "Endereço" %>
      <%= f.text_field :endereco, class: 'form-control' %>

      <%= f.label :telefone, "Telefone" %>
      <%= f.text_field :telefone, class: 'form-control' %>

      <%= f.label :password, "Senha" %>
      <%= f.password_field :password, :value => @user.password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirme sua senha" %>
      <%= f.password_field :password_confirmation, :value => @user.password, class: 'form-control' %>
      
      <% if @user.tipo == "A" %>
        <%= f.label :tipo, "Tipo de Usuário" %>
        <%= f.select :tipo, options_for_select([['Admin', 'A'], ['Usuario', 'U'], ['Médico', 'M']]) %> 
      <% end %>
      <%= f.submit "Salvar alterações", class: "btn btn-primary" %>
    <% end %>
    
    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank">Mudar</a>
    </div>
  </div>
</div>