<% provide(:title, 'Registro') %>
<h1>Inscreva-se</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
    
      <%= render 'shared/error_messages' %>

      <%= f.label :nome %>
      <%= f.text_field :nome, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :endereco, "Endereço" %>
      <%= f.text_field :endereco, class: 'form-control' %>

      <%= f.label :telefone, "Telefone" %>
      <%= f.text_field :telefone, class: 'form-control' %>
      
      <%= f.hidden_field :tipo, :value => "U" %>
      <%= f.hidden_field :activated, :value => false %>
      <%= f.hidden_field :crm, :value => "0" %>
      <%= f.hidden_field :especializacao, :value => "0" %>


      <%= f.label :password, "Senha" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirme sua senha" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Crie sua conta", class: "btn btn-primary" %>
      
    <% end %>
  </div>
</div>