<% provide(:title, @user.nome) %>
<div class="row">
 <!-- <aside class="col-md-4"> -->
    
      <h1>
        <%= gravatar_for @user %> 
        <% if @user.tipo == "M" %>
          Dr(a).
        <% end %>
        <%= @user.nome %> 
      </h1>
        
        
      <% if current_user == @user %>
        <aside class="col-md-4">
          <% if @user.tipo == "M" || @user.tipo == "A" %>
            <% if @user.activated == true %>
              <%= link_to "Adicionar doenças ", add_path, class: "btn btn-lg btn-primary" %>
              <br />
              <%= link_to "Adicionar sintomas", add_sintoma_path, class: "btn btn-lg btn-primary" %>
            <% end %>
          <% end %>
        </aside>
      <% end %>
         
        
      <h2>
        <% if @user.tipo == "M" %>
        <br />
          Especilização: <%= @user.especializacao %> <br />
          <% if @user.activated == false %>
            Essa conta ainda não foi ativada. O processo pode levar algum tempo. <br />
            <% if current_user.tipo == "A" %>
              <br /> <%= link_to 'Aprovar Conta', active_user_path(@user) %> <br />
            <% end %>
          <% end %>
        <% end %>
        <% if @user.tipo == "A" %>
          <b>Administrador do site</b> <br />
        <% end %>
      Endereço: <%= @user.endereco %> <%= link_to 'Mapa', "http://maps.google.com/?q="+@user.endereco,  :target => '_blank' %>  <br />
      Telefone: <%= @user.telefone %> <br />
        
      <% if @user == current_user && @user.tipo == "A" %>
        <br />
        Lista de usuários ainda não aprovados:
        <% @users.each do |user|%>
          <% if user.tipo == "M" && user.activated == false %>
            <li><%= link_to user.nome, user_path(user.id) %></li>
          <% end %>
        <% end %>
      <% end %>
      </h2>
</div>