<% if @sintoma.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      Seu registro contém <%= pluralize(@sintoma.errors.count, "erro") %>.
    </div>
    <ul>
    <% @sintoma.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>