<% provide(:title, 'Todas as doenças') %>
<h1>Todas as doenças: </h1>

<%= will_paginate @doenca%>

<ul class="doenca">
  <% @doenca.each do |doenca| %>
    <li>
      <%= link_to doenca.nome, doenca %>: 
      <%= truncate(doenca.descricao, :length => 100, :separator => ' ', :omission => '... (Mais)') %>
      <br />      <br />
    </li>
  <% end %>
</ul>

<%= will_paginate @doenca %>
