<% provide(:title, 'Registrar doença') %>
<h1>Registro de Doenças</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
     <%= form_for(@doenca) do |f| %>
     <%= render 'shared/doenca_error_messages' %>
     
      <%= f.label :nome %>
      <%= f.text_field :nome, class: 'form-control' %>

      <%= f.label :especializacao, "Especialização" %>
      <%= f.text_field :especializacao, class: 'form-control' %>    

      <%= f.label :descricao, "Descrição (mínimo 150 caracteres)" %>
      <%= f.text_area :descricao, class: 'form-control'  %>

      <%= f.submit "Adicionar doença", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>