<% provide(:title, @doenca.nome) %>
  <section class="user_info">
      <h1>
        <%= @doenca.nome %>
      </h1>
      <aside class="col-md-4">
        <h2>
          Sintomas<br /> <br />
          <% @doenca.sintomas.each do |sintoma|%>
          <li><%= link_to sintoma.nome, sintoma_path(sintoma.id) %></li>
          <% end %>
      
          <% if @doenca.sintomas.present? == false %> 
            Nenhum sintoma registrado. <br />
          <% end %>
          <br />
      
          <%= link_to "Editar", edit_doenca_path, class: "btn btn-lg btn-primary"%><br />
          <br /><%= link_to "Adicionar sintomas",sd_path(:sintomadoenca => { :doenca_id => @doenca.id } ) %>
          <br /><%= link_to "Remover sintomas",remove_path(:sintomadoenca => { :doenca_id => @doenca.id } ) %>
        </h2>
      </aside>
      Área: <%= @doenca.especializacao %> <br />
        <% @users.each do |user|%>
          <% if user.tipo == "M" && user.activated == true && user.especializacao == @doenca.especializacao %>
            <li>Dr(a).<%= link_to user.nome, user_path(user.id) %></li>
          <% end %>
        <% end %>
        <br />
      <%= @doenca.descricao %>
    </section>
  

