<footer class="footer">
  <small>
    Panacea - Trabalho de Conclusão de Curso 2015 IF-Sul Campus Sapucaia do Sul
  </small>
  <nav>
    <ul>
      <li><%= link_to "Sobre",   about_path %></li>
      <li><%= link_to "Contato", contact_path %></li>
      
    </ul>
  </nav>
</footer>