<header class="navbar navbar-fixed-top navbar-default">
  <div class="container">
    <%= link_to "Panacea", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Principal", root_path %></li>
        <li><%= link_to "Ajuda", help_path %></li>
        <% if logged_in? %>
          <li><%= link_to "Busca", s_index_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Minha Conta <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Perfil", current_user %></li>
              <li><%= link_to "Configurações", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Sair", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>